<div class="comment-lister">
  <div class="text-center">
    <!-- <div ng-if="comments.length == 0 && requestState.isComplete">
      <small class="text-muted">Nothing to show here...</small>
    </div> -->
    <div ng-if="requestState.isWorking">
      <div ms-spinner></div>
      <p><small class="text-muted">Loading...</small></p>
    </div>
  </div>
  <div class="ms-list" ng-if="commentable.comments.length > 0 && !requestState.isWorking">
    <div class="ms-list-item" ng-repeat="comment in commentable.comments">
      <div class="list-avatar">
        <img ng-src="{{comment.comment_publishable.profile_picture}}"/>
      </div>
      <div class="list-content">
        <div class="primary">
          <h4 class="header">
            <span ng-bind="comment.comment_publishable.name"></span>
            <small class="text-muted pull-right" am-time-ago="comment.created_at"></small>
          </h4>
        </div>
        <div class="secondary">
          <small ng-bind="comment.content" class="text-muted"></small>
        </div>
        <div class="clearfix">
      </div>
    </div>
  </div>
</div>