<div class="comment-lister" ng-if="commentable.id">
  <div ms-infinite-scroll 
       resource="Comment" 
       request-to="'query'"  
       with-params="commentParams"
       push-to="commentable.comments"
       paginator="paginator"
       uniq="'id'"
       pagination-type="'loadMore'">
  </div>
  <div class="ms-list" ng-if="commentable.comments.length > 0">
    <div ng-repeat="comment in commentable.comments">
      <div ms-comment-renderer comment="comment"></div>
    </div>
    <div class="text-center" ng-if="!paginator.isComplete">
      <button class="btn btn-sm btn-transparent" ng-click="paginator.paginate()">Load more</button>
    </div>
  </div>
  <div class="text-center">
    <!-- <div ng-if="comments.length == 0 && requestState.isComplete">
      <small class="text-muted">Nothing to show here...</small>
    </div> -->
    <div ng-if="paginator.state.isWorking">
      <div ms-spinner></div>
      <p><small class="text-muted">Please wait</small></p>
    </div>
  </div>
</div>