@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,400);
@import url(http://fonts.googleapis.com/css?family=Nunito:700);
@import './themes/bootswatch/_variables';

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "../bower_components/jQuery.mmenu/src/scss/jquery.mmenu";
@import "../bower_components/jQuery.mmenu/src/scss/addons/jquery.mmenu.header";
@import './themes/bootswatch/_bootswatch';

@import './lib/variables';
@import './lib/mixins';
@import './lib/overrides';

@import './components/commons';
@import './components/spinner';
@import './components/icons';
@import './components/navbar';
@import './components/side_nav';
@import './components/conversation_create_box';

@import './pages/index';
@import './pages/location_prompt';
@import './pages/home';

.logo{
  display: inline-block;
  @include ms-border-radius(1000px);
}
a.logo {
  color: inherit;
  &:hover {
    color: inherit;
  }
  &:active {
    color: inherit;
  }
}
.logo-128{
  font-size: 128px;
}
.logo-40{
  font-size: 40px;
}