$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,400);
@import url(http://fonts.googleapis.com/css?family=Nunito:700);

@import './themes/bootswatch/_variables';

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower
@import './themes/bootswatch/_bootswatch';


@import './lib/mixins';
@import './lib/overrides';

@import './components/icons';
@import './components/navbar';
@import './pages/index';

.logo{
  padding: 10px;
  background: white;
  img {
    width: 100%;
    height: 100%;
  }
  display: inline-block;
  @include ms-border-radius(1000px);
}
.logo-128{
  width: 128px;
  padding: 20px;
  height: 128px;
}
