@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,400);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@import './lib/variables';
@import './themes/bootswatch/_variables';

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "../bower_components/jQuery.mmenu/src/scss/jquery.mmenu";
@import "../bower_components/jQuery.mmenu/src/scss/addons/jquery.mmenu.header";
@import './themes/bootswatch/_bootswatch';

@import './lib/mixins';
@import './lib/overrides';

@import './lib/animations/zoom_out';
@import './lib/animations/zoom_in';
@import './lib/animations/slide_from_top';
@import './lib/animations/appear_left';
@import './lib/animations/border_rotate';
@import './lib/animations/fade_in';

@import './components/commons';
@import './components/locator_slider';
@import './components/spinner';
@import './components/icons';
@import './components/navbar';
@import './components/side_nav';
@import './components/post_creator';
@import './components/post_renderer';
@import './components/post_actions';
@import './components/post_details';
@import './components/statistics';
@import './components/post_photo_uploader';
@import './components/comment_creator';
@import './components/comment_actions';
@import './components/flash';
@import './components/activity_renderer';
@import './components/notification_renderer';
@import './components/spread_creator';

@import './pages/index';
@import './pages/location_prompt';
@import './pages/home';
@import './pages/current_location';
@import './pages/posts_show';
@import './pages/me';

.logo{
  display: inline-block;
  @include ms-border-radius(1000px);
}
a.logo {
  color: inherit;
  &:hover {
    color: inherit;
  }
  &:active {
    color: inherit;
  }
}
.logo-128{
  font-size: 128px;
}
.logo-40{
  font-size: 40px;
}
.logo-25{
  font-size: 25px;
}