body {
  font-family: 'Open Sans', sans-serif !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: none !important;
}

h1, h2, h3, h4 {
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
}