<div class="notification-renderer">
  <div class="col-sm-12 notification-flash">
    <div class="ms-card">
      <div class="row">
        <div class="col-sm-4 notification-message" ng-if="post.new_comments_count > 0">
          <span class="fa fa-comment"></span>
          <span ng-bind="post.new_comments_count" class="value text-success"></span> new 
          <span ng-if="post.new_comments_count > 1">comments</span>
          <span ng-if="post.new_comments_count == 1">comment</span>
        </div>
        <div class="col-sm-4 notification-flash" ng-if="post.new_spreads_count > 0">
          <span class="fa fa-check"></span>
          <span ng-bind="post.new_spreads_count" class="value text-success"></span> new
          <span ng-if="post.new_spreads_count > 1">spreads</span>
          <span ng-if="post.new_spreads_count == 1">spread</span>
        </div>
        <div class="col-sm-4 notification-flash" ng-if="post.new_contains_count > 0">
          <span class="fa fa-remove"></span>
          <span ng-bind="post.new_contains_count" class="value text-success"></span> new
          <span ng-if="post.new_contains_count > 1">contains</span>
          <span ng-if="post.new_contains_count == 1">contain</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div ms-post-renderer post="post" record-view="false" spreader-disabled="true" modalify-post-actions="true"></div>
  </div>
</div>