<div class="notification-renderer ms-card-complex">
  <div class="optional-header">
    <div class="ms-list-item">
      <div class="glyphicon-avatar ms-fab {{mappings.elementClasses[notification.action].btn}}">
        <span class="glyphicon {{mappings.elementClasses[notification.action].icon}}"></span>
      </div>
      <div class="list-content">
        <div class="primary">
          <h5 class="header">
            <span ng-bind-html="messages[notification.action](notification).label"></span>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="supporting-text text-muted">
    <span ng-bind-html="messages[notification.action](notification).desc" 
          ng-if="notification.targetable_type == 'Post'">
    </span>
  </div>
</div>