<div class="post-photo-uploader">
  <div ng-class="{'hide': postPhoto.id}" > 
    <span class="glyphicon glyphicon-ring-wrap glyphicon-camera" 
          ng-file-select ng-model="photos" 
          ng-class="{'hide': states.uploading.isWorking}">
    </span> 
    <span class="glyphicon glyphicon-ring-wrap ms-animation-border-rotate" 
          ng-class="{'hide': !states.uploading.isWorking}">
    </span>
    <p class="text-muted" style="font-size:12px;padding-bottom: 15px;">Image format should be jpg, jpeg or png and size should be less than 5MB.</p>
  </div>
  <div ng-if="postPhoto.id">
    <div class="preview">
      <img ng-src="{{postPhoto.photo.url}}"/>
      <div class="delete-upload">
        <span class="glyphicon glyphicon-ring-wrap glyphicon-remove"   
              ng-class="{'hide': states.destroying.isWorking}"
              ng-click="destroyUpload()">
        </span> 
        <span class="glyphicon glyphicon-ring-wrap ms-animation-border-rotate" 
              ng-class="{'hide': !states.destroying.isWorking}">
        </span>
      </div>
    </div>
  </div>    
</div>