<div class="statistics">
  <img src="../images/analytics.png" class="icon"/>
  <div class="listing">
    <div class="listing-section">
      <span class="value" ng-bind="post.view_count"></span>&nbsp;
      <small class="text-muted">VIEWS</small>
    </div>
    <div class="listing-section">
      <span class="value" ng-bind="post.spreads_count"></span>&nbsp;
      <small class="text-muted">SPREADS</small>
    </div>
    <div class="listing-section">
      <span class="value" ng-bind="post.contains_count"></span>&nbsp;
      <small class="text-muted">CONTAINS</small>
    </div>
  </div>
</div>