<div class="statistics">
  <div class="listing">
    <div class="listing-section">
      <span class="value" ng-bind="post.view_count"></span>&nbsp;
      <br>
      <small class="text-muted">VIEWS</small>
    </div>
    <div class="listing-section">
      <span class="value" ng-bind="post.spreads_count"></span>
      <br>
      <small class="text-muted">SPREADS</small>
    </div>
    <div class="listing-section">
      <span class="value" ng-bind="post.contains_count"></span>&nbsp;
      <br>
      <small class="text-muted">CONTAINS</small>
    </div>
    <div class="clearfix"></div>
  </div>
</div>