<div class="container">
  <div class="ms-master-section">
    <div class="ms-card-complex user-info ms-shadow-depth-20">
      <div class="optional-header">
        <div class="ms-list-item">
          <div class="glyphicon-avatar">
            <span class="glyphicon glyphicon-globe"></span>
          </div>
          <div class="list-content">
            <div class="primary">
              <h5 class="header">
                <strong>
                  Notifications
                </strong>
              </h5>
            </div>
            <div class="secondary">
              ...
            </div>
          </div>
        </div>  
      </div>
      <div class="supporting-text text-muted">
        You will be notified whenever anyone interacts with an information you have shared.
        <br>
      </div>
    </div>
    <br>
    <div ms-infinite-scroll 
         resource="Activity" 
         request-to="'notifications'" 
         push-to="notifications" 
         paginator="notificationsPaginator">
    </div>
    <div ng-repeat="notification in notifications">
      <br>
      <div ms-notification-renderer notification="notification"></div>
    </div>
    <div class="text-center">
      <br>
      <div ng-if="notificationsPaginator.isComplete && notifications.length == 0">
        <img src="images/no_posts.png"/>
        <h4 class="text-muted">
          You do not have any new notifications.
        </h4>
      </div>
      <div ng-if="notificationsPaginator.state.isWorking">
        <div ms-spinner></div>
        <p><small class="text-muted">Please wait</small></p>
      </div>
    </div>
  </div>
</div>
