.activity-renderer {
  padding: 0px;  
  .message.optional-header {
    padding-bottom: 0px;
    margin-bottom: 3px;
    margin-top: 15px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.7);
    @include ms-border-radius(4px);
    .fa {
      padding: 8px;
      @include ms-border-radius(500px);
      border: 1px solid;
      height: 34px;
      width: 34px;
    }
  }
}