.ms-card {
  @include ms-border-radius(0px);
  background: white;
  @include ms-box-shadow(0px, 0px, 0px, rgba(0,0,0,0.3)); 
  padding: 15px;
  overflow: hidden;
}
.ms-shadow-depth-20 {
  @include ms-box-shadow(0px, 0px, 20px, rgba(0,0,0,0.3));
}
.ms-shadow-depth-10 {
  @include ms-box-shadow(0px, 0px, 10px, rgba(0,0,0,0.3));
}
.ms-master-section {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.ms-card-complex {
  @extend .ms-card;
  padding: 0px;
  .optional-header {
    padding: 15px;
  }
  .rich-media {
    background: #333;
    min-height: 200px;
    position: relative;
    max-height: 250px;
    overflow: hidden;
    .rich-media-actions {
      position: absolute;
      bottom: 0px;
      right: 0px;
      left: 0px;
      padding: 15px;
      .action {
        opacity: 0.8;
      }
    }
  }
  .supporting-text {
    padding: 15px;
    word-wrap: break-word;
    hr {
      margin-bottom: -15px;
      margin-top: 15px;
    }
  }
  .actions {
    padding: 15px;
    a {
      color: #333;
      opacity: 0.7;
      text-transform: uppercase;
      &:hover, &:focus, &:active {
        color: rgb(21,21,21);
      }
    }
  }
}
.ms-list-item {
  .list-avatar {
    @extend .ms-thumbnail;
    float: left;
    margin-right: 15px;
  }
  .glyphicon-avatar {
    @extend .list-avatar;
    border: 2px solid;
    .glyphicon {
      font-size: 22px;
      line-height: 2;
      text-align: center;
      left: 12px;
    }
  }
  .glyphicon-avatar.ms-fab {
    .glyphicon {
      left: 0px;
    }
  }
  .list-content {
    padding-left: 65px;
    .primary {
      .header {
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
  }
}
#bg-backdrop {
  position:fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: rgba(0,0,0,0.7);
}
.ms-thumbnail {
  width: 50px;
  height: 50px;
  display: inline-block;
  @include ms-border-radius(1000px);
  overflow: hidden;
  img {
    width: 100%;
  }
}
.ms-fab {
  width: 50px;
  height: 50px;
  min-height: 50px !important;
  min-width: 50px !important;
  line-height: 2.5;
  @include ms-border-radius(1000px);
  text-align: center;
  .glyphicon {
    left: -2px;
  }
}
.ms-fab.disabled {
  background: rgb(251,251,251);
  color: gray;
  opacity: 1;
  @include ms-box-shadow(0px, 2px, 8px, rgba(0, 0, 0, 0.26), inset);  
}

.rainbow-dash {
  width: 100%;
  height: 5px;
  background: rgb(21,21,21);
  opacity: 0.8;
  .color-section {
    height: 100%;
    width: 25%;
    float: left;
  }
}
.angular-google-map-container { height: 400px; }

.ms-list {
  .ms-list-item {
    .list-avatar {
    
    }
    .glyphicon-avatar {
      
    }
    .list-content {
      .primary {
        margin-bottom: 5px;
        .header {
          font-size: 16px;
          font-weight: 600;
          margin-top: 0px;
          margin-bottom: 0px;
          max-height: 18px;
          overflow: hidden;
        }
      }
      .secondary {
        padding-bottom: 15px;
        margin-bottom: 15px;
        color: $brand-text-secondary;
        border-bottom: 1px solid #ecf0f1;
      }
    }
  }
}
.text-muted-trans {
  @extend .text-muted;
  color: white !important;
}
.text-muted-5 {
  @extend .text-muted-trans;
  opacity: 0.5;
}
.text-muted-7 {
  @extend .text-muted-trans;
  opacity: 0.7;
}
.full-image-modal {
  .modal-dialog {
    margin-top: 70px;
    max-width: 800px;
  }
  @media (min-width: 768px) {
    .modal-dialog {
      width: auto;
    }
  }
  .modal-body {
    padding: 0px;
  }
}