.logo-tiny {
  display: inline-block;
  @include ms-border-radius(100px);
  height: 40px;
  width: 40px;
  padding: 4px;
  img {
    width: 100%
  }
}
.glyphicon-ring-wrap {
  padding: 9px;
  @include ms-border-radius(1000px);
  border: 2px solid;
}