.notification-renderer {
  .notification-flash {
    .ms-card {
      margin-bottom: 5px;
      font-size: 14px;
      background: rgba(255,255,255,0.7);
      .fa {
        padding: 8px;
        @include ms-border-radius(500px);
        border: 1px solid;
        height: 34px;
        width: 34px;
      }
      .value {
        color: #333;
      }
      .notification-message {
        @media (max-width: $screen-sm) {
          margin-bottom: 5px;
        }
      } 
    }
  }
}