.post-renderer {
  position: relative;
  hr {
   width: 50%;
  }
  .rich-media {
    margin-bottom: 15px;
    .rich-media-actions {
      .btn {
        -webkit-transition: none;
        transition: none;
      }
    }
  }
  .spreader {
    margin-top: -25px;
    position: relative;
    z-index: 1;
  }
  .spreader.post-with-only-photo {
    margin-top: 0px;
  }
  .post-title {
    margin-top: 0px;
    font-weight: 100;
    opacity: 0.9;
  }
}