.post-renderer {
  position: relative;
  .supporting-text {
    padding-top: 0px;
  }
  .rich-media {
    margin-bottom: 15px;
    .rich-media-actions {
      .btn {
        -webkit-transition: none;
        transition: none;
      }
    }
  }
  .spreader {
    margin-top: -25px;
    position: relative;
    z-index: 1;
  }
  .spreader.post-with-only-photo {
    margin-top: -38px;
  }
  .post-title {
    margin-top: 0px;
  }
}