.post-creator{
  form {
  }
}
.post-creator-modal {
  .post-photo-uploader {
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
  }
  .modal-dialog {
    max-width: 650px;
    margin-top: 100px;
  }
}