.post-details {
  min-height: 150px;
}
.post-details.ms-card-complex.propagation {
  background: #333;
  .progress {
    height: 5px;
  }
  .statistics {
    .listing {
      .value {
        color: white;
        font-weight: 100;
      }
    }
  }
}