@import "jQuery.mmenu/src/scss/jquery.mmenu";
@import "jQuery.mmenu/src/scss/inc/variables";

@include mm_sizing("", 0.8, 140px, 300px);

@media all and (min-width: $screen-md) {
  body {
    padding-left: 300px !important;
  }
  .mm-menu {
    width: 300px !important;
  }
} 

.mm-menu {
  background: rgb(31,31,31);
  color: whitesmoke;
  display: inline-block;
  width: 100%;
  a {
    color: white;
  }
  .side-nav-header{
    display: block;
    height: 63px;
    width: 100%; 
    background: rgb(21,21,21);
    border-bottom: rgb(0,0,0);
  }
  .navbar-brand {
    margin-top: -8px;
    font-size: 22px;
    opacity: 0.8;
    padding: 0.5px 0px 20.5px;
    &:hover {
      color: white;
      opacity: 0.9;
    }
    &:focus {
      color: white;
      opacity: 0.9;
    }
    &:active {
      color: white;
      opacity: 0.9;
    }
  }
}

html.mm-opened #mm-blocker, html.mm-blocking #mm-blocker {
  background: black;
  opacity: 0.4;
}

html.mm-opened .mm-page {
  @include ms-box-shadow(0px, 0px, 0px, rgba(0,0,0,0));
}

