body#page-current-location {
  background: rgb(245,245,245);
  .slider-section {
    background: $brand-info;
    margin-top: -20px;
    padding-top: 30px;
    padding-bottom: 100px;
    margin-bottom: -100px;
    border-bottom: 2px solid darken($brand-info, 12%);
    .location-radius {
      color: white;
    }
    .ui-slider-range, .ui-slider-handle {
      background: white;
    }
    .ui-slider {
      background: rgba(255,255,255, 0.5);
    }
    .address, .unit {
      color: rgba(255,255,255, 0.7);
    }
  }
  .locator-slider {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
  .ms-double-bounce-one, .ms-double-bounce-two {
    background: #333;
  }
  .ms-card {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
  }
  .angular-google-map-container { height: 250px; }
}