body#page-current-location {
  .slider-section {
    .ui-slider-range, .ui-slider-handle {
      background: $brand-success;
    }
    .ui-slider {
      background: lightgray;
    }
    .address, .unit {
      
    }
  }
  .locator-slider {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
  .ms-double-bounce-one, .ms-double-bounce-two {
    background: #333;
  }
  .ms-card {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
  }
  .angular-google-map-container { height: 250px; }
}