body#page-home {
  .ms-master-section {
    max-width: 550px;
  }
  .actions-card {
    min-height: 150px;
    .optional-header {
      color: white;
      height: 80px;
      .secondary {
        opacity: 0.7;
      }
    }
    .optional-header.bg-comments {
      background: $brand-deep-purple;
    }
    .optional-header.bg-statistics {
      background: $brand-indigo;
    }
    .optional-header.bg-propagation {
      background: $brand-red;
    }
  }
  .bg-comments-add {
    @extend .ms-animation-slide-from-top;
  }
  .bg-statistics-add{
    @extend .ms-animation-slide-from-top;
  }
  .bg-propagation-add {
    @extend .ms-animation-slide-from-top;
  }
} 