body#page-home {
  .ms-master-section {
    max-width: 600px;
  }
  .ms-card-complex.post-details {
    background: transparent;
    .comment-creator{
      textarea {
        font-size: 24px;
        font-weight: 100;
      }
    }
  }
  .bottom-dock {
    .spreader {
      margin-top: -20px;
    }
  }
} 