body#page-index {
  background-size: 100%;
  padding-left: 0px !important;
  color: white;
  background: white;
  #bg-backdrop {
    display: none;
  }
  nav.navbar {
    .rainbow-dash {
      opacity: 0;
    }
    background: transparent !important;
    margin-bottom: -107px !important;
    @include ms-box-shadow(0px, 0px, 0px, rgba(0,0,0,0.5));
    z-index: 2;
    position: relative;
    a {
      color: white !important;
      opacity: 0.6;
      font-size: 16px;
      &:hover {
        opacity: 1;
      }
    }
  }
  .logo{
    margin-top: 90px;
    font-size: 50px;
    border: 2px solid white;
    padding: 15px;
    height: 100px;
    width: 100px;
    line-height: 1.2;
    position: relative;
    .fa {
      color: rgba(255,255,255,1);
    }
  }
  .brand-name { 
    font-size: 70px;
    margin-top: 120px;
    position: relative;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    text-shadow: 0 1px 10px rgba(0,0,0,0.5);
    -webkit-text-shadow: 0 1px 10px rgba(0,0,0,0.5);
    -ms-text-shadow: 0 1px 10px rgba(0,0,0,0.5);
    -moz-text-shadow: 0 1px 10px rgba(0,0,0,0.5);
    .glyphicon {
      font-size: 54px;
    }
    .label {
      font-size: 14px;
      top: -0.3em;
      position: relative;
    }
  }
  .brand-tagline {
    opacity: 0.6;
    margin-bottom: 10px;
    text-shadow: 0 1px 10px rgba(0,0,0,0.5);
    -webkit-text-shadow: 0 1px 10px rgba(0,0,0,0.5);
    -ms-text-shadow: 0 1px 10px rgba(0,0,0,0.5);
    -moz-text-shadow: 0 1px 10px rgba(0,0,0,0.5);
  }
  img.brand-responsive{
    width: 100%;
    margin-top: 80px;
  }
  .btn.fb-sign-in, .btn.get-started{
    padding: 15px 20px;
  }
  .quote {
    opacity: 0.7;
    margin-top: 130px;
  }
  .section {
    position: relative;
    .section-heading {
      font-size: 3.6em;
      margin-bottom: 50px;
    }
    .layer {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      background-color: rgba(0,0,0,0.6);
    }
    .top {
      color: white !important;
      padding-top: 50px;
      padding-bottom: 50px;
      margin-bottom: 30px;
      @include ms-transition(background 1s);
      .fa {
        font-size: 70px;
        opacity: 0.6;
        margin-top: 10px;
      }
    }
  }
  #main-section {
    background-image: url('../images/landing_page_cover_blurred.jpg');
    background-size: 100%;
    @media all and (max-width: $screen-md) {
      background-size: auto;
    }
    position: relative;
  }
  #second-section {
    .top {
      background: $brand-indigo;
      &:hover {
        background: #333;
      }
    }
    .steps {
      max-width: 1000px;
    }
    .step-next.fa {
      font-size: 70px;
    }
    .step{
      padding-top: 15px;
      padding-bottom: 50px;
      .step-image {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        @include ms-border-radius(20000px);
        @include ms-box-shadow(0px, 0px, 40px, rgba(0,0,0,0.05));
        img{
          width: 100%;
        }
      }
      .step-text {
        font-size: 24px;
        position: relative;
        margin-top: 20%;
        border: 1px solid lightgray;
        padding: 25px;
        @include ms-box-shadow(0px, 2px, 3px, rgba(0,0,0,0.2));
        @include ms-border-radius(1000px);
      }
    }
  }
  #third-section {
    background: white;
    .top {
      background: $brand-indigo;
      &:hover {
        background: #333;
      }
    }
  }
  #fourth-section {
    background: $brand-blue;
  }
  #second-section,
  #third-section,
  #fourth-section {
    color: #333;
  }
  #sign-in-section {
    background: rgba(255,255,255,0.1);
    padding-top: 30px;
    padding-bottom: 15px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    .short-description {
      max-width: 650px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
      text-shadow: 0 1px 10px rgba(0,0,0,0.5);
      -webkit-text-shadow: 0 1px 10px rgba(0,0,0,0.5);
      -ms-text-shadow: 0 1px 10px rgba(0,0,0,0.5);
      -moz-text-shadow: 0 1px 10px rgba(0,0,0,0.5);
    }
  }
  .desc-icon {
    padding: 30px;
    @include ms-border-radius(1000px);
    font-size: 26px;
    display: inline-block;
    height: 100px;
    width: 100px;
    color: white;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .desc-text {
    font-size: 18px;
    opacity: 0.6;
  }
}