body#page-index {
  background-size: 100%;
  background-image: url('../images/landing_page_cover.jpg');
  padding-left: 0px !important;
  background-color: #333;
  background-attachment: fixed;
  color: white;
  nav.navbar {
    background: white;
    margin-bottom: 0px !important;
    @include ms-box-shadow(0px, 0px, 10px, rgba(0,0,0,0.5));
    a {
      color: $brand-info !important;
    }
  }
  .logo{
    top: -33px;
    margin-bottom: 100px;
    position: relative;
    .glyphicon-ring-wrap {
      padding: 18px;
      border: none;
      background: #333;
      @include ms-box-shadow(0px, 0px, 10px, rgba(0,0,0,0.5));
    }
  }
  .brand-name { 
    margin-top: 180px;
    font-size: 70px;
    margin-bottom: 10px;
    font-weight: 400;
    .glyphicon {
      font-size: 54px;
    }
  }
  .brand-tagline {
    opacity: 0.6;
    font-weight: 400;
    margin-bottom: 10px;
  }
  img.brand-responsive{
    width: 100%;
    margin-top: 80px;
  }
  .btn.fb-sign-in {
    padding: 15px 20px;
  }
  .quote {
    opacity: 0.7;
    margin-top: 130px;
  }
  .main-section {
    background: rgba(0,0,0,0.4);
  }
  .second-section {
    background: $$brand-light-green
  }
  .sign-in-section {
    background: rgba(0,0,0,0.6);
    padding: 25px;
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
}