body#page-location-prompt {
  text-align: center;
  padding-left: 0px !important;
  nav.navbar {
    display: none;
  }
  .logo {
    margin-top: 30px;
    margin-bottom: 40px;
    opacity: 0.7;
  }
  .ms-card {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .ms-card.user-info {
    h1.name {
      font-size: 50px;
    }
    .text-muted {
      opacity: 0.5;
    }
  }
  .ms-card.location-box {
    background: transparent;
    @include ms-box-shadow(0px, 0px, 0px, rgba(0,0,0,0));
  }
  .location-aware-icon {
  }
}