body#page-me {
  ul.nav-tabs {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .user-info {
    margin-bottom: 30px;
    .supporting-text {
      padding-bottom: 30px;
    }
  }
}