body#page-me {
  ul.nav-tabs {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .user-info {
    margin-bottom: 30px;
    .supporting-text {
      padding-bottom: 30px;
    }
  }
  .comment-creator {
    textarea {
      font-size: 24px;
      font-weight: 100;
    }
  }
  .ms-propagation {
    border: 1px solid lightgray;
    @include ms-border-radius(3px);
  }
  .btn.active-action {
    background: #333;
    color: white;
  }
  .action-buttons {
    @include ms-border-radius(1000px);
    @include ms-box-shadow(0px, 0px, 0px, rgba(0,0,0,0));
    opacity: 0.6;
  }
  .modal.default {
    .modal-body {
      padding: 0px;
      .close-modal-icon {
        display: none;
      }
    }
  }
}