<div class="post-renderer">
  <div class="ms-card-complex">
    <div class="optional-header">
      <div class="ms-list-item">
        <div class="list-avatar">
          <img ng-src="{{currentUser.profile_picture}}"/>
        </div>
        <div class="list-content">
          <div class="primary">
            <h4 class="header">
              <strong>
                <span ng-bind="currentUser.name"></span>
              </strong>
            </h4>
          </div>
          <div class="secondary">
            <small class="text-muted">2 days ago</small>
          </div>
        </div>  
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="rich-media">
      <img src="http://1.bp.blogspot.com/-lLQhXV_NTBk/Tak2X0AmrkI/AAAAAAAAAL0/1kFfM1tT-_I/s1600/1214620933187.jpg" width="100%"/>
    </div>
    <div class="supporting-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut ipsum sagittis, sollicitudin elit quis, imperdiet quam. Nam consequat
      <hr>
    </div>
    <div class="actions">
      <span ms-post-actions post="{}" selected-action="selectedAction"></span>
    </div>
  </div>
</div>