<div class="post-renderer">
  <div class="ms-card-complex">
    <span ng-if="recordView">
      <span ms-view-recorder viewable="post" viewable-type="'Post'"></span>
    </span>
    <div class="optional-header">
      <div class="ms-list-item">
        <div class="list-avatar">
          <img src="../images/marker_green_40.png"/>
        </div>
        <div class="list-content">
          <div class="primary">
            <h5 class="header">
              <strong>
                <span ng-bind="post.display_address"></span>
              </strong>
            </h5>
          </div>
          <div class="secondary">
            <small class="text-muted" am-time-ago="post.created_at"></small>
          </div>
        </div>  
      </div>
      <div class="clearfix"></div>
    </div>

    <!-- rich media, can contain photo, links or videos -->
    <div class="rich-media" ng-if="post.postable_type=='PostPhoto'" ng-class="{'show-full-media': fullMedia}">
      <img ng-src="{{post.postable.photo.url}}" 
           width="100%" 
           ms-img-dimensions 
           img-height="imgHeight" 
           img-loaded="imgLoaded"
      />
      <div class="rich-media-actions text-center" ng-if="imgLoaded && (imgHeight > 250)">
        <button class="btn ms-fab fab-transparent" ng-click="toggleFullMedia()" ng-show="!fullMedia">
          <span class="fa fa-angle-double-down"></span>
        </button>
        <button class="btn ms-fab fab-transparent" ng-click="toggleFullMedia()" ng-show="fullMedia">
          <span class="fa fa-angle-double-up"></span>
        </button>
      </div>
    </div>
    
    <!-- supporting text holds the text content of the post -->
    <div class="supporting-text">
      <h2 ng-bind="post.title" ng-if="post.title" class="post-title"></h2>
      <span>
        <span ms-linkify="post.strippedContent" ng-if="!fullContent"></span>
        <span ms-linkify="post.content" ng-if="fullContent"></span>
        <span ng-if="post.isStripped">
          <span ng-if="!fullContent">...</span> 
          <a ng-click="toggleFullContent()" target="_blank">
            <span ng-if="!fullContent">more</span>
            <span ng-if="fullContent"><br>...less</span>
          </a>
        </span>
      </span>
      <span ng-if="post.content || post.title">
        <br><br><hr>
        <div ms-spread-creator 
            spreadable="post" 
            resource-owner="'post_publishable'" 
            is-disabled="spreaderDisabled"></div>
      </span>
      <span ng-if="!post.content && !post.title">
        <div ms-spread-creator 
             spreadable="post" 
             resource-owner="'post_publishable'" 
             class="post-with-only-photo" 
             is-disabled="spreaderDisabled"></div>
      </span>
    </div>
    <div class="actions">
      <span ms-post-actions post="post" selected-action="selectedAction" linkify="linkifyPostActions"></span>
    </div>
  </div>
</div>