<div class="post-renderer">
  <div class="ms-card-complex">
    <span ms-view-recorder viewable="post" viewable-type="'Post'"></span>
    <div class="optional-header">
      <div class="ms-list-item">
        <div class="list-avatar">
          <img src="../images/marker_green_40.png"/>
        </div>
        <div class="list-content">
          <div class="primary">
            <h5 class="header">
              <strong>
                <span ng-bind="post.display_address"></span>
              </strong>
            </h5>
          </div>
          <div class="secondary">
            <small class="text-muted" am-time-ago="post.created_at"></small>
          </div>
        </div>  
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="rich-media" ng-if="post.postable_type=='PostPhoto'">
      <img ng-src="{{post.postable.photo.url}}" width="100%"/>
    </div>
    <div class="supporting-text">
      <span ms-linkify="post.content"></span>
      <br>
      <br>
      <hr>
      <div ms-spread-creator spreadable="post" resource-owner="'post_publishable'"></div>
    </div>
    <div class="actions">
      <span ms-post-actions post="post" selected-action="selectedAction" ></span>
    </div>
  </div>
</div>