<div class="text-center spreader">
  <span>
    <span class="ms-fab btn btn-white contain" 
    			ng-click="containIt()" 
    			ng-class="{'disabled': isDisabled || requestState.isWorking || (currentUser.id == spreadable[resourceOwner].id)}">
      <span class="glyphicon glyphicon-remove"></span>
    </span>
    <span class="ms-fab btn btn-white spread" 
    			ng-click="spreadIt()" 
    			ng-class="{'disabled': isDisabled || requestState.isWorking || (currentUser.id == spreadable[resourceOwner].id)}">
      <span class="glyphicon glyphicon-ok"></span>
    </span>
  </span>
</div>