<!doctype html>
<html class="no-js" ng-app="ms" data-ng-controller="MasterController">
  <head>
    <meta charset="utf-8">
    <meta property="fb:app_id" content="384477961738981"/> 
    <meta property="og:title" content="Spredit - The new way to share information"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://spreditapp.com"/>
    <meta property="og:site_name" content="Spredit"/>
    <meta property="og:image"  content="http://spreditapp.com/images/screenshot.png" />
    <meta property="og:description" content="Reach out to thousands and possibly millions of people in a much easier way. No connections, friends or followers." />

    <title ng-bind="masterCtrl.title"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery.ui.slider.css" />
    <link rel="stylesheet" href="bower_components/jQuery.mmenu/src/css/extensions/jquery.mmenu.widescreen.css" media="all and (min-width: 768px)" />
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-google-places-autocomplete/src/autocomplete.css" />
    <link rel="stylesheet" href="bower_components/angular-google-places-autocomplete/dist/autocomplete.min.css" />
    <link rel="stylesheet" href="bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body id="{{masterCtrl.bodyId}}">
    <div ng-if="false" id="body-loader" class="text-center text-muted" style="font-size: 70px; margin-top: 100px;">
       <span class="fa fa-spin fa-circle-o-notch"></span> 
    </div>
    <div ng-if="masterCtrl.config.APP_INIT">
      <div ms-flash></div>
      <div ms-side-nav data-ng-if="masterCtrl.session.currentUser.id && masterCtrl.session.currentUser.location.id"></div>
      <div>
        <!--[if lt IE 7]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div>
          <div ms-nav-bar signed-in="masterCtrl.session.currentUser.id && masterCtrl.session.currentUser.location.id" display="true"></div>
          <div>  
            <div data-ng-view></div>
          </div>
          <div id="footer" class="text-muted text-center">
            <small>
              Made by <strong>Spredit Technologies</strong>. in Bangalore, India
              <br>
              <a href="#/policies">Privacy Policy</a>
              <a href="/">Careers</a> 
              <a>Contact us: feedback@spreditapp.com</a>
            </small>
          </div>
        </div>
      </div>
    </div>
    <div id="fb-root"></div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js?nocache=1','ga');
     ga('create', 'UA-XXXXX-X');
     ga('send', 'pageview');
    </script>
    
    <!-- Facebook login SDK -->
    <script src="//connect.facebook.net/en_US/all.js?nocache=1"></script>
    <!-- Maps API -->
    <script src='//maps.googleapis.com/maps/api/js?sensor=false&libraries=places&nocache=1'></script>
    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/jQuery.mmenu/src/js/jquery.mmenu.min.js"></script>
    <script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
    <script src="bower_components/angular-ui-slider/src/slider.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/Autolinker.js/dist/Autolinker.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular-google-places-autocomplete/src/autocomplete.js"></script>
    <script src="bower_components/angular-google-places-autocomplete/dist/autocomplete.min.js"></script>
    <script src="bower_components/angular-elastic/elastic.js"></script>
    <script src="bower_components/ngScrollTo/ng-scrollto.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
        <!-- vendors -->
        <!-- vendors --> 
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/global_config.js"></script>
        <script src="scripts/core/services/app.js"></script>
        <script src="scripts/core/services/state_handler_service.js"></script>
        <script src="scripts/core/services/map_styles_service.js"></script>
        <script src="scripts/core/services/map_config_service.js"></script>
        <script src="scripts/core/services/paginator_service.js"></script>
        <script src="scripts/core/services/underscore_service.js"></script>
        <script src="scripts/core/services/action_mapping_service.js"></script>

        <script src="scripts/core/directives/app.js"></script>
        <script src="scripts/core/directives/linkify.js"></script>
        <script src="scripts/core/directives/auto_height.js"></script>
        <script src="scripts/core/directives/section_scroll.js"></script>
        <script src="scripts/core/directives/img_dimensions.js"></script>

        <script src="scripts/core/filters/app.js"></script>
        <script src="scripts/core/filters/display_number.js"></script>

        <script src="scripts/core/api/app.js"></script>
        <script src="scripts/core/api/init_model.js"></script>
        <script src="scripts/core/api/vote_model.js"></script>
        <script src="scripts/core/api/session_model.js"></script>
        <script src="scripts/core/api/location_model.js"></script>
        <script src="scripts/core/api/config_location_model.js"></script>
        <script src="scripts/core/api/config_post_category_model.js"></script>
        <script src="scripts/core/api/user_model.js"></script>
        <script src="scripts/core/api/post_photo_model.js"></script>
        <script src="scripts/core/api/post_text_model.js"></script>
        <script src="scripts/core/api/post_model.js"></script>
        <script src="scripts/core/api/comment_model.js"></script>
        <script src="scripts/core/api/spread_model.js"></script>
        <script src="scripts/core/api/view_model.js"></script>
        <script src="scripts/core/api/activity_model.js"></script>
        <script src="scripts/core/app.js"></script>

        <script src="scripts/components/animator/app.js"></script>
        <script src="scripts/components/animator/animator_directive.js"></script>

        <script src="scripts/components/spinner/app.js"></script>
        <script src="scripts/components/spinner/spinner_controller.js"></script>
        <script src="scripts/components/spinner/spinner_directive.js"></script>

        <script src="scripts/components/dialog/app.js"></script>
        <script src="scripts/components/dialog/dialog_controller.js"></script>
        <script src="scripts/components/dialog/dialog_service.js"></script>

        <script src="scripts/components/full_image/app.js"></script>
        <script src="scripts/components/full_image/full_image_controller.js"></script>
        <script src="scripts/components/full_image/full_image_directive.js"></script>
        <script src="scripts/components/full_image/full_image_modal_controller.js"></script>

        <script src="scripts/components/flash/app.js"></script>
        <script src="scripts/components/flash/flash_controller.js"></script>
        <script src="scripts/components/flash/flash_directive.js"></script>

        <script src="scripts/components/infinite_scroll/app.js"></script>
        <script src="scripts/components/infinite_scroll/infinite_scroll_directive.js"></script>
        <script src="scripts/components/infinite_scroll/infinite_scroll_controller.js"></script>
        
        <script src="scripts/components/locator/slider/app.js"></script>
        <script src="scripts/components/locator/slider/locator_slider_controller.js"></script>
        <script src="scripts/components/locator/slider/locator_slider_directive.js"></script>

        <script src="scripts/components/locator/map/app.js"></script>
        <script src="scripts/components/locator/map/locator_map_controller.js"></script>
        <script src="scripts/components/locator/map/locator_map_directive.js"></script>
        
        <script src="scripts/components/locator/app.js"></script>
        <script src="scripts/components/locator/locator_controller.js"></script>
        <script src="scripts/components/locator/locator_directive.js"></script>

        <script src="scripts/components/notification/renderer/app.js"></script>
        <script src="scripts/components/notification/renderer/notification_renderer_controller.js"></script>
        <script src="scripts/components/notification/renderer/notification_renderer_directive.js"></script>
        <script src="scripts/components/notification/app.js"></script>
        <script src="scripts/components/notification/notification_messages_service.js"></script>

        <script src="scripts/components/fb_sdk/lib/app.js"></script>
        <script src="scripts/components/fb_sdk/lib/fb_sdk_service.js"></script>
        <script src="scripts/components/fb_sdk/log_in/app.js"></script>
        <script src="scripts/components/fb_sdk/log_in/fb_log_in_controller.js"></script>
        <script src="scripts/components/fb_sdk/log_in/fb_log_in_directive.js"></script>
        <script src="scripts/components/fb_sdk/app.js"></script>

        <script src="scripts/components/nav_bar/app.js"></script>
        <script src="scripts/components/nav_bar/nav_bar_controller.js"></script>
        <script src="scripts/components/nav_bar/nav_bar_directive.js"></script>

        <script src="scripts/components/side_nav/app.js"></script>
        <script src="scripts/components/side_nav/side_nav_controller.js"></script>
        <script src="scripts/components/side_nav/side_nav_service.js"></script>
        <script src="scripts/components/side_nav/side_nav_directive.js"></script>

        <script src="scripts/components/post/creator/app.js"></script>
        <script src="scripts/components/post/creator/post_creator_controller.js"></script>
        <script src="scripts/components/post/creator/post_creator_directive.js"></script>
        <script src="scripts/components/post/creator_modal/app.js"></script>
        <script src="scripts/components/post/creator_modal/post_creator_modal_controller.js"></script>
        <script src="scripts/components/post/creator_modal/post_creator_modal_service.js"></script>
        <script src="scripts/components/post/renderer/app.js"></script>
        <script src="scripts/components/post/renderer/post_renderer_controller.js"></script>
        <script src="scripts/components/post/renderer/post_renderer_directive.js"></script>
        <script src="scripts/components/post/details/app.js"></script>
        <script src="scripts/components/post/details/post_details_controller.js"></script>
        <script src="scripts/components/post/details/post_details_directive.js"></script>
        <script src="scripts/components/post/actions/app.js"></script>
        <script src="scripts/components/post/actions/post_actions_controller.js"></script>
        <script src="scripts/components/post/actions/post_actions_directive.js"></script>
        <script src="scripts/components/post/categories/app.js"></script>
        <script src="scripts/components/post/categories/post_categories_controller.js"></script>
        <script src="scripts/components/post/categories/post_categories_modal_controller.js"></script>
        <script src="scripts/components/post/categories/post_categories_directive.js"></script>
        <script src="scripts/components/post/photo_uploader/app.js"></script>
        <script src="scripts/components/post/photo_uploader/post_photo_uploader_controller.js"></script>
        <script src="scripts/components/post/photo_uploader/post_photo_uploader_directive.js"></script>      
        <script src="scripts/components/post/app.js"></script>
        
        <script src="scripts/components/comment/lister/app.js"></script>
        <script src="scripts/components/comment/lister/comment_lister_controller.js"></script>
        <script src="scripts/components/comment/lister/comment_lister_directive.js"></script>
        <script src="scripts/components/comment/creator/app.js"></script>
        <script src="scripts/components/comment/creator/comment_creator_controller.js"></script>
        <script src="scripts/components/comment/creator/comment_creator_directive.js"></script>
        <script src="scripts/components/comment/renderer/app.js"></script>
        <script src="scripts/components/comment/renderer/comment_renderer_controller.js"></script>
        <script src="scripts/components/comment/renderer/comment_renderer_directive.js"></script>
        <script src="scripts/components/comment/actions/app.js"></script>
        <script src="scripts/components/comment/actions/comment_actions_controller.js"></script>
        <script src="scripts/components/comment/actions/comment_actions_directive.js"></script>
        <script src="scripts/components/comment/app.js"></script>

        <script src="scripts/components/propagation/app.js"></script>
        <script src="scripts/components/propagation/propagation_controller.js"></script>
        <script src="scripts/components/propagation/propagation_directive.js"></script>

        <script src="scripts/components/spread/creator/app.js"></script>
        <script src="scripts/components/spread/creator/spread_creator_controller.js"></script>
        <script src="scripts/components/spread/creator/spread_creator_directive.js"></script>
        <script src="scripts/components/spread/lister/app.js"></script>
        <script src="scripts/components/spread/lister/spread_lister_controller.js"></script>
        <script src="scripts/components/spread/lister/spread_lister_directive.js"></script>
        <script src="scripts/components/spread/app.js"></script>

        <script src="scripts/components/view/recorder/app.js"></script>
        <script src="scripts/components/view/recorder/view_recorder_controller.js"></script>
        <script src="scripts/components/view/recorder/view_recorder_directive.js"></script>
        <script src="scripts/components/view/app.js"></script>

        <script src="scripts/components/statistics/app.js"></script>
        <script src="scripts/components/statistics/statistics_controller.js"></script>
        <script src="scripts/components/statistics/statistics_directive.js"></script>

        <script src="scripts/components/activity/renderer/app.js"></script>
        <script src="scripts/components/activity/renderer/activity_renderer_controller.js"></script>
        <script src="scripts/components/activity/renderer/activity_renderer_directive.js"></script>
        <script src="scripts/components/activity/app.js"></script>

        <script src="scripts/components/app.js"></script>

        <script src="scripts/pages/index/app.js"></script>
        <script src="scripts/pages/index/index_controller.js"></script>

        <script src="scripts/pages/home/app.js"></script>
        <script src="scripts/pages/home/home_controller.js"></script>

        <script src="scripts/pages/location_prompt/app.js"></script>
        <script src="scripts/pages/location_prompt/location_prompt_controller.js"></script>

        <script src="scripts/pages/me/app.js"></script>
        <script src="scripts/pages/me/me_controller.js"></script>

        <script src="scripts/pages/notifications/app.js"></script>
        <script src="scripts/pages/notifications/notifications_controller.js"></script>

        <script src="scripts/pages/current_location/app.js"></script>
        <script src="scripts/pages/current_location/current_location_controller.js"></script>

        <script src="scripts/pages/policies/app.js"></script>
        <script src="scripts/pages/policies/policies_controller.js"></script>

        <script src="scripts/pages/posts/show/app.js"></script>
        <script src="scripts/pages/posts/show/posts_show_controller.js"></script>
        <script src="scripts/pages/posts/app.js"></script>

        <script src="scripts/pages/app.js"></script>

        <script src="scripts/app.js"></script>
        <script src="scripts/templates.js"></script>
        <script src="scripts/router.js"></script>
        <script src="scripts/master_controller.js"></script>
        <!-- endbuild -->
</body>
</html>
