<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery.ui.slider.css" />
    <link rel="stylesheet" href="bower_components/jQuery.mmenu/src/css/extensions/jquery.mmenu.widescreen.css" media="all and (min-width: 992px)" />
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="ms" data-ng-controller="MasterController" id="{{masterCtrl.bodyId}}">
    <div ms-side-nav data-ng-if="masterCtrl.currentSession && masterCtrl.isLocationPresent"></div>
    <div>
      <div id="fb-root"></div>
      <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <!-- Add your site or application content here -->
      <div data-ng-if="masterCtrl.config.APP_INIT">
        <div ms-nav-bar display="masterCtrl.currentSession && masterCtrl.isLocationPresent"></div>
        <div>  
          <div data-ng-view></div>
        </div>
      </div>
    </div>
    

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
     ga('create', 'UA-XXXXX-X');
     ga('send', 'pageview');
    </script>
    
    <!-- Facebook login SDK -->
    <script src="//connect.facebook.net/en_US/all.js"></script>
    <!-- Maps API -->
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/jQuery.mmenu/src/js/jquery.mmenu.min.js"></script>
    <script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
    <script src="bower_components/angular-ui-slider/src/slider.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/Autolinker.js/dist/Autolinker.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
        <!-- vendors -->
        <script src="bower_components/jQuery.mmenu/src/js/addons/jquery.mmenu.header.js"></script>
        <script src="bower_components/jquery-ui/ui/jquery.ui.slider.js"></script>
        <!-- vendors --> 
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/global_config.js"></script>
        <script src="scripts/core/services/app.js"></script>
        <script src="scripts/core/services/state_handler_service.js"></script>
        <script src="scripts/core/services/map_styles_service.js"></script>
        <script src="scripts/core/services/map_config_service.js"></script>

        <script src="scripts/core/directives/app.js"></script>
        <script src="scripts/core/directives/linkify.js"></script>

        <script src="scripts/core/api/app.js"></script>
        <script src="scripts/core/api/init_model.js"></script>
        <script src="scripts/core/api/session_model.js"></script>
        <script src="scripts/core/api/location_model.js"></script>
        <script src="scripts/core/api/config_location_model.js"></script>
        <script src="scripts/core/api/user_model.js"></script>
        <script src="scripts/core/api/post_photo_model.js"></script>
        <script src="scripts/core/api/post_text_model.js"></script>
        <script src="scripts/core/api/post_model.js"></script>
        <script src="scripts/core/api/comment_model.js"></script>
        <script src="scripts/core/api/spread_model.js"></script>
        <script src="scripts/core/api/view_model.js"></script>
        <script src="scripts/core/app.js"></script>

        <script src="scripts/components/animator/app.js"></script>
        <script src="scripts/components/animator/animator_directive.js"></script>

        <script src="scripts/components/spinner/app.js"></script>
        <script src="scripts/components/spinner/spinner_controller.js"></script>
        <script src="scripts/components/spinner/spinner_directive.js"></script>

        <script src="scripts/components/locator/slider/app.js"></script>
        <script src="scripts/components/locator/slider/locator_slider_controller.js"></script>
        <script src="scripts/components/locator/slider/locator_slider_directive.js"></script>

        <script src="scripts/components/locator/map/app.js"></script>
        <script src="scripts/components/locator/map/locator_map_controller.js"></script>
        <script src="scripts/components/locator/map/locator_map_directive.js"></script>
        
        <script src="scripts/components/locator/app.js"></script>
        <script src="scripts/components/locator/locator_controller.js"></script>
        <script src="scripts/components/locator/locator_directive.js"></script>

        <script src="scripts/components/fb_sdk/lib/app.js"></script>
        <script src="scripts/components/fb_sdk/lib/fb_sdk_service.js"></script>
        <script src="scripts/components/fb_sdk/log_in/app.js"></script>
        <script src="scripts/components/fb_sdk/log_in/fb_log_in_controller.js"></script>
        <script src="scripts/components/fb_sdk/log_in/fb_log_in_directive.js"></script>
        <script src="scripts/components/fb_sdk/app.js"></script>

        <script src="scripts/components/nav_bar/app.js"></script>
        <script src="scripts/components/nav_bar/nav_bar_controller.js"></script>
        <script src="scripts/components/nav_bar/nav_bar_directive.js"></script>

        <script src="scripts/components/side_nav/app.js"></script>
        <script src="scripts/components/side_nav/side_nav_controller.js"></script>
        <script src="scripts/components/side_nav/side_nav_service.js"></script>
        <script src="scripts/components/side_nav/side_nav_directive.js"></script>

        <script src="scripts/components/post/creator/app.js"></script>
        <script src="scripts/components/post/creator/post_creator_controller.js"></script>
        <script src="scripts/components/post/creator/post_creator_directive.js"></script>
        <script src="scripts/components/post/creator_modal/app.js"></script>
        <script src="scripts/components/post/creator_modal/post_creator_modal_controller.js"></script>
        <script src="scripts/components/post/creator_modal/post_creator_modal_service.js"></script>
        <script src="scripts/components/post/renderer/app.js"></script>
        <script src="scripts/components/post/renderer/post_renderer_controller.js"></script>
        <script src="scripts/components/post/renderer/post_renderer_directive.js"></script>
        <script src="scripts/components/post/actions/app.js"></script>
        <script src="scripts/components/post/actions/post_actions_controller.js"></script>
        <script src="scripts/components/post/actions/post_actions_directive.js"></script>
        <script src="scripts/components/post/photo_uploader/app.js"></script>
        <script src="scripts/components/post/photo_uploader/post_photo_uploader_controller.js"></script>
        <script src="scripts/components/post/photo_uploader/post_photo_uploader_directive.js"></script>      
        <script src="scripts/components/post/app.js"></script>
        
        <script src="scripts/components/comment/lister/app.js"></script>
        <script src="scripts/components/comment/lister/comment_lister_controller.js"></script>
        <script src="scripts/components/comment/lister/comment_lister_directive.js"></script>
        <script src="scripts/components/comment/creator/app.js"></script>
        <script src="scripts/components/comment/creator/comment_creator_controller.js"></script>
        <script src="scripts/components/comment/creator/comment_creator_directive.js"></script>
        <script src="scripts/components/comment/app.js"></script>

        <script src="scripts/components/propagation/app.js"></script>
        <script src="scripts/components/propagation/propagation_controller.js"></script>
        <script src="scripts/components/propagation/propagation_directive.js"></script>

        <script src="scripts/components/spread/creator/app.js"></script>
        <script src="scripts/components/spread/creator/spread_creator_controller.js"></script>
        <script src="scripts/components/spread/creator/spread_creator_directive.js"></script>
        <script src="scripts/components/spread/lister/app.js"></script>
        <script src="scripts/components/spread/lister/spread_lister_controller.js"></script>
        <script src="scripts/components/spread/lister/spread_lister_directive.js"></script>
        <script src="scripts/components/spread/app.js"></script>

        <script src="scripts/components/view/recorder/app.js"></script>
        <script src="scripts/components/view/recorder/view_recorder_controller.js"></script>
        <script src="scripts/components/view/recorder/view_recorder_directive.js"></script>
        <script src="scripts/components/view/app.js"></script>

        <script src="scripts/components/statistics/app.js"></script>
        <script src="scripts/components/statistics/statistics_controller.js"></script>
        <script src="scripts/components/statistics/statistics_directive.js"></script>

        <script src="scripts/components/app.js"></script>

        <script src="scripts/pages/index/app.js"></script>
        <script src="scripts/pages/index/index_controller.js"></script>

        <script src="scripts/pages/home/app.js"></script>
        <script src="scripts/pages/home/home_controller.js"></script>
        <script src="scripts/pages/home/home_mappings_service.js"></script>

        <script src="scripts/pages/location_prompt/app.js"></script>
        <script src="scripts/pages/location_prompt/location_prompt_controller.js"></script>

        <script src="scripts/pages/me/app.js"></script>
        <script src="scripts/pages/me/me_controller.js"></script>

        <script src="scripts/pages/current_location/app.js"></script>
        <script src="scripts/pages/current_location/current_location_controller.js"></script>

        <script src="scripts/pages/app.js"></script>

        <script src="scripts/app.js"></script>
        <script src="scripts/templates.js"></script>
        <script src="scripts/router.js"></script>
        <script src="scripts/master_controller.js"></script>
        <!-- endbuild -->
</body>
</html>
