<div class="ms-card-complex post-details" ng-if="post.id">
  <div class="optional-header {{currentMapping.background}}">
    <div class="ms-list-item">
      <div class="glyphicon-avatar">
        <span class="glyphicon {{currentMapping.glyphicon}}"></span>
      </div>
      <div class="list-content">
        <div class="primary">
          <h4 class="header" ng-bind="currentMapping.label">
          </h4>
        </div>
        <div class="secondary">
          <small>...</small>
        </div>
      </div>  
    </div>
    <div class="clearfix"></div>
  </div>
  <div ng-if="currentMapping">
    <div ng-if="action == 'propagation'">
      <div ms-propagation post="post"></div>
    </div>
    <div ng-if="action == 'comments'" class="supporting-text">
      <div ms-comment-creator commentable="post" commentable-type="'Post'"></div><br>
      <div ms-comment-lister commentable="post"></div>
    </div>
    <div ng-if="action == 'statistics'" class="supporting-text">
      <div ms-statistics post="post"></div>
    </div>
  </div>
</div>