<div class="comment-creator">
    <form name="newCommentForm" novalidate>
      <textarea placeholder="What's your opinion on this?" 
                class="form-control" 
                ng-model="comment.content"
                name="content"
                style="height: auto"
                ng-required="true">
      </textarea><br>
      <button class="btn btn-transparent btn-sm btn-rounded btn-transparent-info"  
              ng-disabled="newCommentForm.$invalid || state.isWorking" 
              ng-click="createComment()">
              <span ng-if="state.isWorking">Please wait...</span>
              <span ng-if="!state.isWorking">Comment</span>
      </button>
    </form>  
</div>