<div class="comment-creator">
    <form name="newCommentForm" novalidate>
      <textarea placeholder="Add a comment..." 
                class="form-control" 
                ng-model="comment.content"
                name="content"
                ng-focus="focusStyle={height:'auto'};focused=true"
                ng-style="focusStyle"
                ng-required="true">
      </textarea><br>
      <button class="btn btn-default btn-sm" 
              ng-if="focused" 
              ng-disabled="newCommentForm.$invalid || state.isWorking" 
              ng-click="createComment()">
              <span ng-if="state.isWorking">Please wait...</span>
              <span ng-if="!state.isWorking">Comment</span>
      </button>
    </form>  
</div>