<div class="profile-cover">
  <div class="container">
    <div class="ms-thumbnail">
      <img ng-src="{{currentUser.profile_picture_medium}}"/>
    </div>
    <h3 class="user-name">
      <span ng-bind="currentUser.name"></span>
    </h3>
    <p ng-bind="currentUser.email" class="text-muted-7"></p>
    <br>
    <p>
      <strong ng-bind="currentUser.location.address" class="text-muted-5"></strong>
    </p>
  </div>
</div>
<br>
<div>
  <div class="container">
    <div class="ms-master-section">
      <tabset justified="true">
        <tab heading="Posts" select="setActive(tabs.myPosts)">
          <div ng-if="tabs.active == tabs.myPosts">
            <div ms-infinite-scroll resource="Post" request-to="'mine'" push-to="myPosts" paginator="paginator"></div>
            <div ng-repeat="post in myPosts">
              <br>
              <div ms-post-renderer post="post" record-view="false"></div>
            </div>
            <div class="text-center">
              <br>
              <div ng-if="paginator.isComplete && myPosts.length==0">
                <img src="images/no_posts.png"/>
                <h4 class="text-muted">
                  No posts to show right now
                </h4>
              </div>
              <div ng-if="paginator.state.isWorking">
                <div ms-spinner></div>
                <p><small class="text-muted">Please wait</small></p>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Activity Log" select="setActive(tabs.activities)">
          <div ng-if="tabs.active == tabs.activities">
            
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
