<div>
  <div class="container">
    <div class="ms-master-section">
      <div class="ms-card-complex user-info ms-shadow-depth-20">
        <div class="optional-header">
          <div class="ms-list-item">
            <div class="list-avatar">
              <img ng-src="{{currentUser.profile_picture_medium}}"/>
            </div>
            <div class="list-content">
              <div class="primary">
                <h5 class="header">
                  <strong>
                    <span ng-bind="currentUser.name"></span>
                  </strong>
                </h5>
              </div>
              <div class="secondary">
                <small class="text-muted" ng-bind="currentUser.email"></small>
              </div>
            </div>
          </div>  
        </div>
        <div class="supporting-text">
          <span ng-bind="currentUser.location.address" class="text-muted"></span>
          <br>
        </div>
      </div>
      <tabset justified="true">
        <tab heading="Posts" select="setActive(tabs.myPosts)">
          <div ng-if="tabs.active == tabs.myPosts">
            <div ms-infinite-scroll resource="Post" request-to="'mine'" push-to="myPosts" paginator="myPostsPaginator"></div>
            <div ng-repeat="post in myPosts">
              <br>
              <div ms-post-renderer post="post" record-view="false" spreader-disabled="true" linkify-post-actions="true"></div>
            </div>
            <div class="text-center">
              <br>
              <div ng-if="myPostsPaginator.isComplete && myPosts.length==0">
                <img src="images/no_posts.png"/>
                <h4 class="text-muted">
                  No posts to show right now.
                </h4>
              </div>
              <div ng-if="myPostsPaginator.state.isWorking">
                <div ms-spinner></div>
                <p><small class="text-muted">Please wait</small></p>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Activity Log" select="setActive(tabs.activities)">
          <div ng-if="tabs.active == tabs.activities">
            <div ms-infinite-scroll resource="Activity" request-to="'query'" push-to="myActivities" paginator="myActivitiesPaginator">
            </div>
            <div ng-repeat="activity in myActivities">
              <br>
              <div ms-activity-renderer activity="activity"></div>
            </div>
            <div class="text-center">
              <br>
              <div ng-if="myActivitiesPaginator.isComplete && myActivities.length==0">
                <img src="images/no_posts.png"/>
                <h4 class="text-muted">
                  You do not have any activities.
                </h4>
              </div>
              <div ng-if="myActivitiesPaginator.state.isWorking">
                <div ms-spinner></div>
                <p><small class="text-muted">Please wait</small></p>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
