<div class="activity-renderer">
  <div class="optional-header message text-muted">
    <span>
      <span class="glyphicon {{mappings[activity.action].iconClass}}"></span>
      &nbsp;
      <strong>
        <span ng-bind="mappings[activity.action].label"></span>
      </strong>
    </span>
    <span class="pull-right">
      <small class="text-muted pull-right" am-time-ago="activity.created_at"></small>
    </span>
  </div>
  <div ng-if="activity.targetable_type == 'Post'">
    <div ms-post-renderer post="activity.targetable" record-view="false"></div>  
  </div>
</div>