<div class="activity-renderer">
  <div class="optional-header message">
    <span>
      <span class="fa {{mappings[activity.action].iconClass}}"></span>
      <span>
        <span ng-bind="mappings[activity.action].label"></span>
      </span>
    </span>
    <span class="pull-right">
      <small class="text-muted pull-right" am-time-ago="activity.created_at"></small>
    </span>
  </div>
  <div ng-if="activity.targetable_type == 'Post'">
    <div ms-post-renderer post="activity.targetable" record-view="false" spreader-disabled="true" modalify-post-actions="true"></div>  
  </div>
</div>