<small class="post-actions">
  <span class="text-muted" ng-if="!linkify">
    <a ng-click="setSelectedAction('comments')">
      <span class="glyphicon glyphicon-comment"></span>&nbsp;COMMENTS(<span ng-bind="post.comments_count"></span>)
      &nbsp;&nbsp;
    </a>
    <a ng-click="setSelectedAction('propagation')">
      <span class="glyphicon glyphicon-map-marker"></span>&nbsp;MAP(<span ng-bind="post.total_propagation"></span> KM)
    </a>
    <span class="pull-right text-muted">
      <a ng-click="setSelectedAction('statistics')">
        <h2 class="spread-value" ng-bind="post.spreads_count | displayNumber"></h2>
      </a>
    </span>
  </span>
  <span class="text-muted" ng-if="linkify">
    <a ng-href="#/posts/{{post.id}}" target="_blank">
      <span class="glyphicon glyphicon-comment"></span>&nbsp;COMMENTS(<span ng-bind="post.comments_count"></span>)
      &nbsp;&nbsp;
    </a>
    <a ng-href="#/posts/{{post.id}}" target="_blank">
      <span class="glyphicon glyphicon-map-marker"></span>&nbsp;MAP(<span ng-bind="post.total_propagation"></span> KM)
    </a>
    <span class="pull-right text-muted">
      <a ng-href="#/posts/{{post.id}}" target="_blank">
        <h2 class="spread-value" ng-bind="post.spreads_count | displayNumber"></h2>
      </a>
    </span>
  </span>
</small>