<small class="post-actions">
  <span class="text-muted" ng-if="!modalify">
    <a ng-click="setSelectedAction('comments')">
      <span class="fa fa-comment"></span>&nbsp;
      <span ng-if="selectedAction=='comments'">
        <span><span ng-bind="post.comments_count"></span>
      </span>
      <span ng-if="!(selectedAction=='comments')">
        <span ng-bind="post.comments_count"></span>
      </span>
      &nbsp;&nbsp;
    </a>
    <span class="pull-right" ng-class="">
      <span>
        <h3 class="spread-value">
          <span ng-bind="post.spreads_count | displayNumber"></span>
        </h3>
      </span>
    </span>
  </span>
  <span class="" ng-if="modalify">
    <a ng-click="openModal(post, 'comments')">
      <span>
        <span class="fa fa-comment"></span>&nbsp;<span ng-bind="post.comments_count"></span>
        &nbsp;&nbsp;
      </span>
    </a>
    <a ng-click="openModal(post, 'propagation')">
      <span>
        <span class="fa fa-map-marker"></span>&nbsp;<span ng-bind="post.total_propagation"></span> KM
        &nbsp;&nbsp;
      </span>
    </a>
    <span>
        <span class="fa fa-plus-square" 
              ng-class="{'text-danger': (post.life == 1 || post.life == 2), 'text-warning': (post.life == 3 || post.life == 4), 'text-success': (post.life > 4)}">
        </span>
        health (<span ng-bind="post.life"></span>)
    </span>
    <span class="pull-right text-muted">
      <h2 class="spread-value" ng-bind="post.spreads_count | displayNumber"></h2>
    </span>
  </span>
</small>