<div class="post-creator text-center">
  <form name="newPostForm" novalidate>
    <div ms-post-photo-uploader postable-object="postable" postable-refresh="refresh"></div>
    <input type="text" class="form-control" placeholder="Title(max 120 characters)..." ng-model="post.title" name="title" maxlength="120"/>
    <br>
    <textarea placeholder="Content..." 
              msd-elastic="\n"
              class="form-control" 
              ng-model="post.content"
              name="content">
    </textarea>
    <br>
    <select ng-options="item.value as item.label for item in categories" ng-model="post.category" ng-required="true" class="pull-left">
    </select>
    <button class="btn btn-inverse btn-sm pull-right" ng-disabled="newPostForm.$invalid || reqState.isWorking" ng-click="createPost()">
      <span ng-if="reqState.isWorking">Publishing</span>
      <span ng-if="!reqState.isWorking">Publish</span>
    </button>
    <div class="clearfix"></div>
  </form>
</div>