<div class="post-creator text-center">
  <form name="newPostForm" novalidate>
    <div ms-post-photo-uploader postable-object="postable" postable-refresh="refresh"></div>
    <br>
    <textarea placeholder="Spread your thoughts to the people around you" 
              msd-elastic="\n"
              class="form-control" 
              ng-model="post.content"
              name="content">
    </textarea>
    <br>
    <div class="text-left">
      <button class="btn btn-transparent btn-sm btn-rounded btn-transparent-info" ng-disabled="newPostForm.$invalid || reqState.isWorking" ng-click="createPost()">
        <span ng-if="reqState.isWorking">Publishing</span>
        <span ng-if="!reqState.isWorking">Publish</span>
      </button>
    </div>
  </form>
</div>