<div class="container">
  <div class="ms-master-section">
    <div ng-if="loadState.isComplete && !currentPost.id" class="text-center">
      <div class="all-caught-up">
        <h4 class="text-muted">
          All caught up. 
        </h4>
      </div>
      <div class="try-publishing">
        <p>
          <a ng-click="openPostCreator()">Try publishing something now</a>, and see it propagate across the world.
        </p>
        <img src="../images/globe.png"/>
      </div>
      <div class="help-us-grow">
        <p>Help us grow ;)</p>
        <a class="link-major" href="https://www.facebook.com/spreditapp" target="_blank">
          <span class="ms-fab btn btn-primary glyphicon">
            <span class="fa fa-facebook"></span> 
          </span>
        </a>
        <a class="link-major" href="https://www.twitter.com/spreditapp" target="_blank">
          <span class="ms-fab btn btn-info glyphicon">
            <span class="fa fa-twitter"></span> 
          </span>
        </a>
      </div>
    </div>
    <div ng-if="loadState.isWorking" class="text-center">
      <div ms-spinner></div>
      <p><small class="text-muted">Please wait</small></p>
    </div>
    <div ng-if="currentPost.id" 
         ms-animator="ms-animation-zoom-in" 
         on-change-in="{{currentPost.id}}">
      <div ms-post-renderer post="currentPost"    
           selected-action="actions.selected" 
           record-view="true" 
           show-all-actions="true" 
           map-disabled="true"
           full-media="true">
      </div>
      <br>
      <div ms-post-details post="currentPost" action="actions.selected" ng-if="currentPost.id">
      </div>
    </div>
  </div>
  <br>
</div>
<!-- <div class="bottom-dock">
  <div ms-spread-creator 
       spreadable="currentPost" 
       resource-owner="'post_publishable'" 
       is-disabled="spreaderDisabled">
  </div>
</div> -->