<nav class="navbar navbar-default" role="navigation" data-ng-if="display">
  <div class="rainbow-dash">
    <div class="color-section bg-success"></div>
    <div class="color-section bg-danger"></div>
    <div class="color-section bg-brown"></div>
    <div class="color-section bg-warning"></div>
  </div>
  <div class="container ms-master-section" data-ng-if="signedIn">
    <ul class="nav navbar-nav">
      <li>
        <a href="#/home" tooltip="Home" tooltip-placement="bottom">
          <span class="fa fa-share-alt brand-icon"></span>
        </a>
        <a href="#/me" tooltip="Me" tooltip-placement="bottom">
          <!-- <span class="fa fa-circle text-danger notification-indicator ms-animation-pulsate"></span> -->
          <span class="fa fa-user brand-icon"></span>
        </a>
        <a href="/#current_location" tooltip="Current location" tooltip-placement="bottom">
          <span class="fa fa-map-marker brand-icon"></span>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a ng-click="signOut()" tooltip="Sign out" tooltip-placement="bottom">
          <span class="fa fa-sign-out brand-icon"></span>
        </a>
        <a ng-click="openPostCreator()" class="btn-link">
          <span class="btn btn-sm btn-danger nav-button">Publish</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="container" data-ng-if="!signedIn">
    <ul class="nav navbar-nav">
      <li>
        <a href="https://www.facebook.com/pages/Spredit/849011651809054" target="_blank">
          <span class="fa fa-facebook"></span>&nbsp;&nbsp;Like
        </a>
      </li>
      <li>
        <a href="https://www.twitter.com/spreditapp" target="_blank">
          <span class="fa fa-twitter"></span>&nbsp;&nbsp;Follow
        </a>
      </li>
    </ul>
  </div>
</nav>