<nav class="navbar navbar-default" role="navigation" data-ng-if="display">
  <div class="container" data-ng-if="signedIn">
    <ul class="nav navbar-nav">
      <li class="visible-xs visible-sm">
        <a ng-click="toggleSideNav()">
          <span class="glyphicon glyphicon-align-justify"></span>
        </a>
      </li>
      <li class="hidden-xs hidden-sm">
        <a href="#/home">
          <span class="glyphicon glyphicon-send brand-icon"></span>
          <span class="brand-name">spredit</span>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a ng-click="openPostCreator()" class="btn-link">
          <span class="btn btn-sm btn-info">Publish</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="container" data-ng-if="!signedIn">
    <ul class="nav navbar-nav">
      <li>
        <a href="https://www.facebook.com/pages/Spredit/849011651809054" target="_blank">
          <span class="fa fa-facebook"></span>
        </a>
      </li>
      <li>
        <a>
          <span class="fa fa-twitter"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>