<nav class="navbar navbar-default" role="navigation" data-ng-if="display">
  <div class="rainbow-dash">
    <div class="color-section bg-info"></div>
    <div class="color-section bg-danger"></div>
    <div class="color-section bg-success"></div>
    <div class="color-section bg-warning"></div>
  </div>
  <div class="container" data-ng-if="signedIn">
    <ul class="nav navbar-nav">
      <li class="visible-xs visible-sm">
        <a ng-click="toggleSideNav()">
          <span class="glyphicon glyphicon-align-justify"></span>
        </a>
      </li>
      <li class="hidden-xs hidden-sm">
        <a href="#/home">
          <span class="fa fa-location-arrow brand-icon"></span>
          <span class="brand-name">spredit</span>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a ng-click="openPostCreator()" class="btn-link">
          <span class="btn btn-sm btn-danger">Publish</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="container" data-ng-if="!signedIn">
    <ul class="nav navbar-nav">
      <li>
        <a href="https://www.facebook.com/pages/Spredit/849011651809054" target="_blank">
          <span class="fa fa-facebook"></span>&nbsp;&nbsp;Like
        </a>
      </li>
      <li>
        <a href="https://www.twitter.com/spreditapp" target="_blank">
          <span class="fa fa-twitter"></span>&nbsp;&nbsp;Follow
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!-- <li>
        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>
      </li>
      -->
      <li>
        <a>
          How it works
        </a>
      </li>
    </ul>
  </div>
</nav>