<nav id="side-nav">
  <ul>
    <li class="mm-selected">
      <a class="link-major" href="/#home">
        <span class="glyphicon glyphicon-home"></span> 
        <span>Home</span>
      </a>
    </li> 
    <li>
      <a class="link-major" href="/#me">
        <span class="glyphicon glyphicon-user"></span> 
        <span>Me</span>
      </a>
    </li>
    <li>
      <a class="link-major" href="/#notifications">
        <span class="glyphicon glyphicon-globe"></span> 
        <span>Notifications</span>
        <span class="notification-count" 
              ng-bind="currentUser.unread_notifications_count"
              ng-if="currentUser.unread_notifications_count > 0">
        </span>
      </a>
    </li> 
    <li>
      <a class="link-major" href="/#current_location">
        <span class="glyphicon glyphicon-map-marker"></span> 
        <span>Current Location</span>
      </a>
    </li> 
    <li>
      <a class="link-major">
        <span class="glyphicon glyphicon-cog"></span> 
        <span>Settings</span>
      </a>
    </li>
    <li>
      <a class="link-major" ng-click="signOut()">
        <span class="glyphicon glyphicon-off"></span> 
        <span>Sign out</span>
      </a>
    </li>   
  </ul>
</nav>